.partners-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-inline: 10px;
}

.partner-video {
    width: 100%;
    max-width: 600px;
    /* optional: restrict max width */
    border-radius: 16px;
    margin-bottom: 75px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Hover effect (optional) */
.partner-video:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


/* Hide default video controls */
.partner-video::-webkit-media-controls {
    display: none !important;
}

.partner-video::-moz-media-controls {
    display: none !important;
}

.partner-video::-ms-media-controls {
    display: none !important;
}

.partner-video::-o-media-controls {
    display: none !important;
}